* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main {
    width: 1450px;
    margin: auto;
    overflow: hidden;
    border-radius: 4px;

}

.header,
.nav,
.container,
.footer {
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.header {
    width: 160px;
    height: 80px;
    background-color: #191918;
    float: left;
}


.nav {
    width: 1210px;
    height: 80px;
    background-color: #191918;


}

.log {
    width: 80px;
    height: 80px;
    background-color: #191918;
    float: right;
}

.nav a {
    color: #fff;
    padding: 25px 20px;
    display: inline-block;
    text-decoration: none;
}

.nav li {

    display: inline;
    font-size: 20px;
    text-align: center;
}

.nav a:hover {
    background: #bbb;
    color: #000;
}

#content {
    background: #bbb;
    width: 1450px;
    height: 1000px;
    padding-top: 100px;
}

#bt {
    width: 700px;
    border-bottom: #d2cab8 4px solid;
    font-size: 30px;
    color: #fff;
    padding: 40px;
    text-align: center;
    margin-left: 300px;

}

.shang {
    height: 900px;
    margin-top: 100px;
    display: inline-block;
}

.lshang {
    display: inline-block;
    margin-left: 50px;
}

.lshang img {
    border-radius: 7px;
}

.lshang img:hover {
    border-top-right-radius: 70px;

    transform: rotate(4deg);
    transition: 0.5s;
    cursor: pointer;
}

.rshang {
    border-left: #fff 4px solid;
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
    margin-top: 150px;
    padding-left: 15px;

}

.rshang h2 {
    font-size: 40px;
    color: #fff;
}

.rshang h3 {
    font-size: 20px;
    color: #fff;
}

.box2 {
    margin-top: 70px;
}

#cont {
    background: #bbb;
    width: 1450px;
    height: 900px;

}

.lzhong {
    height: 900px;
    margin-top: 100px;
    display: inline-block;
    margin-left: 50px;
}

.lzhong img {
    border-radius: 7px;
}


.rzhong {
    border-left: #fff 4px solid;
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
    margin-top: 250px;
    padding-left: 15px;


}

.rzhong h2 {
    font-size: 40px;
    color: #fff;
}

.rzhong h3 {
    font-size: 20px;
    color: #fff;
}

.box4 {
    margin-top: 70px;
}

.lzhong img:hover {
    transform: rotate(4deg);
    border-top-right-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
}

#footer {
    background: #bbb;
    width: 1450px;
    height: 900px;

}

.lfoot {
    height: 900px;
    margin-top: 100px;
    display: inline-block;
    margin-left: 50px;
}

.lfoot img {
    border-radius: 7px;
}

.lfoot img:hover {
    border-top-right-radius: 70px;
    transform: rotate(4deg);
    transition: 0.5s;
    cursor: pointer;
}

.rfoot {
    border-left: #fff 4px solid;
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
    margin-top: 250px;
    padding-left: 15px;
}

.rfoot h2 {
    font-size: 40px;
    color: #fff;
}

.rfoot h3 {
    font-size: 20px;
    color: #fff;
}

.box6 {
    margin-top: 70px;
}

#end {
    width: 1450px;
    height: 100px;
    margin-top: 40px;
    background-color: #fff;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

#end img {
    margin-right: 25px;
}

.flside {
    display: inline;
    float: left;
    margin-left: 270px;
}

.frside {
    display: inline;
    float: right;
    margin-right: 270px;
}

.frside h2 {
    font-size: 15px;
}

.frside h3 {
    font-size: 10px;
}

#back {
    position: fixed;
    right: 50px;
    bottom: 150px;
}